{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
<script src="{% static 'auctions/empty_option.js' %}" defer></script>
{% if message %}
<p style="color: red;">{{ message }}</p>
{% endif %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Filter">
</form>
<hr>
{% if listings %}
{% for listing in listings %}
<a href="{% url 'listing' listing.id %}">
	<section {% if not listing.active %} style="opacity: 60%;" {% endif %}>
		<h3>{{ listing.title }}</h3>
		{% if listing in user.watchList.all %}
		<p style="background-color: darkgray;color: white;width: fit-content; padding: 0.2rem; border-radius: 0.25rem;">
			Watching</p>
		{% endif %}
		{% if listing.image_link %}
		<img src="{{ listing.image_link }}">
		{% endif %}
		<h4>Current Price: {{ listing.current }}</h4>
		<p>description: {{ listing.description }}</p>
	</section>
</a>
{% endfor %}
{% elif request.method == "POST" %}
<p>No results were found.</p>
{% endif %}
{% endblock body %}